.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 253, 253);
    margin: 0px 130px;
}

.root .hero-parent {
    /* Frame 2087325624 */
    position: absolute;
    width: 1536px;
    height: 4973px;
    left: 0;
    top: 115px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 76;
    padding: 0px;


}

.root .hero-parent .hero{
    /* Frame 4 */
    position: static;
    width: 1050px;
    height: 400px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* gap: 61; */
    padding: 76px 96px 76px 96px;
    /* Inside Auto Layout */
    /* flex: none; */
    /* order: 0; */
    /* flex-grow: 0; */
    /* margin: 50px 100px; */
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
.root .hero-parent .hero .hero-des{
        /* Frame 3 */
    /* position: static; */
    width: 597px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15;
    /* padding: 0px; */
    /* Inside Auto Layout */
    /* flex: none;
    order: 0;
    flex-grow: 0; */
    /* margin: 0px 61px; */

}
.root .hero-parent .hero .hero-des h6 {
    width: 597px;
    height: 10px;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14; */
    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;*/
    margin: 0px 0px;
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    /* font-weight: 500;
    line-height: 29px; */
    /* letter-spacing: 0%; */
    text-align: left;
}
.root .hero-parent .hero .hero-des p{
    /* position: static; */
    width: 500px;
    height: 100px;
    /* Auto layout */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50;     */

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
}
.root .hero-parent .hero .hero-des .btn-bd{
    width: 270px;
    height: 56px;
    margin-top: 60px;
    padding: 16px 32px 16px 32px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 552;
    line-height: 20px;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}
.root .hero-parent .hero .hero-des .hero-img img{
        /* Group 1 */
    /* position: static; */
    width: 450.03px;
    height: 300px;
    /* Inside Auto Layout */
    flex: none;
    /* order: 1; */
    /* flex-grow: 0; */
    margin: 0px 61px;
}

.root .second{
    margin-top: 750px;

}
.second h3{
    width: 1228px;
    height: 46px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 35px;
    font-weight: 672;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: left;
}

.second .card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.second .card .card-1{
    width: 250px;
    height: 210px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(225, 229, 233);
}

.second .card .card-1 img{
    /* Vector */
    width: 50.66px;
    height: 49.09px;
    left: 9.34px;
    top: 1px;
}

.second .card .card-1 h4{
    width: 199px;
    height: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;

}
.second .card .card-1 p{
    width: 220px;
    height: 40px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;

}
.root .vision{

}
.root .vision h4{
    width: 1228px;
    height: 40px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 35px;
    font-weight: 672;
    line-height: 46px;
    text-align: left;
    margin-top: 100px;
}

.root .vision p{
    width: 1228px;
    height: 40px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.root .vision .v-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.root .vision .v-card .v-card-1{
    width: 340px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 24px;
}
.root .vision .v-card .v-card-1 img{
    width: 50.66px;
    height: 49.09px;
    left: 9.34px;
    top: 1px;
}
.root .vision .v-card .v-card-1 h6{
    width: 199px;
    height: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.root .vision .v-card .v-card-1 p{
    width: 220px;
    height: 40px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}
.root .vision .v-card .v-card-1 .vbtn{
    width: 82px;
    height: 19px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 2px 10px;

    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    /* margin: 24px 0px; */
    }

/* v-card-2  */

.root .vision .v-card .v-card-2{
    width: 340px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);;
    padding: 24px;
}
.root .vision .v-card .v-card-2 img{
    width: 50.66px;
    height: 49.09px;
    left: 9.34px;
    top: 1px;
}
.root .vision .v-card .v-card-2 h6{
    width: 199px;
    height: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.root .vision .v-card .v-card-2 p{
    width: 220px;
    height: 40px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}
.root .vision .v-card .v-card-2 .vbtn{
    width: 82px;
    height: 19px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 2px 10px;

    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    /* margin: 24px 0px; */
    }

/* v-card-3 */
    
.root .vision .v-card .v-card-3{
    width: 340px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 24px;
}
.root .vision .v-card .v-card-3 img{
    width: 50.66px;
    height: 49.09px;
    left: 9.34px;
    top: 1px;
}
.root .vision .v-card .v-card-3 h6{
    width: 199px;
    height: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.root .vision .v-card .v-card-3 p{
    width: 220px;
    height: 40px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}
.root .vision .v-card .v-card-3 .vbtn{
    width: 82px;
    height: 19px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 2px 10px;

    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    /* margin: 24px 0px; */
    }

    /* dr-yunus */

.root .vision .dr-y{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 1228px;
    height: 260px;
    padding: 20px 20px;
    margin-top: 30px;
    
    
}
.root .vision .dr-y .dr-y-1{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    margin-top: 0px 0px 0px 0px;
}
.root .vision .dr-y .dr-y-1 p{
    width: 1182px;
    height: 92px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.root .vision .dr-y .dr-y-1 h5{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
    width: 1182px;
    height: 0px;
    margin-top: 50px;
}
.root .vision .dr-y .dr-y-1 .p1{
    position: static;
    width: 1232px;
    height: 0px;
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.root .recent-news h3{
    width: 1228px;
    height: 20px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 60px;
}
.root .recent-news p{
    width: 1228px;
    height: 46px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.root .news{

}
 
.root .news .n1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 24px;
    width: 1228px;
    height: 385px;
    background: rgb(231, 236, 237);
    margin: 24px 0px;
}
.news .n1 .n1-img img{
    width: 450px;
    height: 293px;
    margin: 50px 50px;
    border-radius: 18px;
    background: url(assets/satelite.png);
}
.root .news .n1 .n1-des{
    margin: 30px 40px 30px 40px ;
}
.root .news .n1 .n1-des h4{
    width: 500px;
    height: 0px;
    /* margin: 40px 0px; */
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 26px;
    font-weight: 672;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.root .news .n1 .n1-des .date{
    width: 400px;
    height: 23px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight:384;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}
.root .news .n1 .n1-des p{   
    width: 600px;
    height: 72px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.root .news .n1 .n1-des button{
    width: 133px;
    height: 46px;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin: 0px 0px;

    /* font */
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 576;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

/* donate today */
.root .donate h4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 642;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin: 80px 0px 30px 0px;
}
.root .donate p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 24px;
}
.root .donate .tk-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}
.root .donate .tk-box p{
    width: 250px;
    height: 122px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(238, 243, 245);
    padding: 40px;

/* font */
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 36px;
    font-weight: 672;
    line-height: 46px;
    /* text-align: center; */
    /* margin: 12px 0px; */

}
/* other amount */

.root .donate .other-amount p{
    width: 990px;
    height: 61px;
    padding: 20px 40px 20px 40px;
    margin: 32px 120px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(238, 243, 245);
    /* font */
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 384;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.root .donate .other-amount button{
    width: 200px;
    height: 53px;
    padding: 16px 32px 16px 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin: 10px 500px;
    /* font */
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}
.root .subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1100px;
    height: 280px;
    margin: 40px 0px;
    padding: 40px 70px 40px 70px;

}
.root .subscribe h4{
    
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    /* line-height: 0px; */
    text-align: center;
    width: 500px;
    height: 0px;
}
.root .subscribe p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 597px;
    height: 30px;
}
.root .subscribe .in-subscribe{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.root .subscribe .in-subscribe input{
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    width: 500px;
    height: 10px;
    padding: 18px 20px 18px 20px;
    /* font */
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.root .subscribe .in-subscribe button{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    width: 150px;
    height: 49px;
    padding: 13px 32px 16px 32px;
    /* font */
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.foot h4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.foot .icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
